# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/loggerpackage/node_modules
/sampleproject/node_modules


/server/tests
/loggerpackage/package-lock.json
/sampleproject/package-lock.json
